In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime, os

In [3]:
df = pd.read_csv('244400404_effectifs-eleves-cleaned')
df.head()

,RowNo,Type de site,Date,Prévision,Réel,Nom du site,An,RéelMed,RéelNorm
0,0,M/E,2011-09-06,290.0,271.0,LEDRU ROLLIN/SARAH BERNHARDT,2011,308.0,0.879870
1,1,M/E,2011-09-05,95.0,102.0,BEAUJOIRE,2011,129.0,0.790698
2,2,M/E,2011-09-05,167.0,171.0,CONTRIE,2011,211.0,0.810427
3,3,M,2011-09-05,80.0,64.0,COUDRAY M.,2011,77.0,0.831169
4,4,M,2011-09-05,73.0,77.0,FONTENY,2011,92.0,0.836957

In [5]:
df['datetime']= df['Date'].apply( lambda string1 :datetime.datetime.strptime(string1,"%Y-%m-%d"))
df['joursem']= df['Date'].apply( lambda string1 :datetime.datetime.strptime(string1,"%Y-%m-%d").weekday())
df['isoweek']= df['Date'].apply( lambda string1 :datetime.datetime.strptime(string1,"%Y-%m-%d").isocalendar().week)

In [6]:
df.head()

,RowNo,Type de site,Date,Prévision,Réel,Nom du site,An,RéelMed,RéelNorm,datetime,joursem,isoweek
0,0,M/E,2011-09-06,290.0,271.0,LEDRU ROLLIN/SARAH BERNHARDT,2011,308.0,0.879870,2011-09-06,1,36
1,1,M/E,2011-09-05,95.0,102.0,BEAUJOIRE,2011,129.0,0.790698,2011-09-05,0,36
2,2,M/E,2011-09-05,167.0,171.0,CONTRIE,2011,211.0,0.810427,2011-09-05,0,36
3,3,M,2011-09-05,80.0,64.0,COUDRAY M.,2011,77.0,0.831169,2011-09-05,0,36
4,4,M,2011-09-05,73.0,77.0,FONTENY,2011,92.0,0.836957,2011-09-05,0,36

In [10]:
df_calend=pd.read_csv('../../data/DataGithub/ramadan.csv')
df_calend['datetime']= df_calend['date'].apply( lambda string1 :datetime.datetime.strptime(string1,"%d/%m/%Y"))
df_calend.drop(columns=['date'], inplace=True)
df_calend.head()

   ramadan   datetime
0        1 2021-04-13
1        1 2021-04-14
2        1 2021-04-15
3        1 2021-04-16
4        1 2021-04-17

In [11]:
df_calend.shape

(329, 2)

In [12]:
df=pd.merge(df, df_calend, how='left', on='datetime')
df.head()

,RowNo,Type de site,Date,Prévision,Réel,Nom du site,An,RéelMed,RéelNorm,datetime,joursem,isoweek,ramadan
0,0,M/E,2011-09-06,290.0,271.0,LEDRU ROLLIN/SARAH BERNHARDT,2011,308.0,0.879870,2011-09-06,1,36,NaN
1,1,M/E,2011-09-05,95.0,102.0,BEAUJOIRE,2011,129.0,0.790698,2011-09-05,0,36,NaN
2,2,M/E,2011-09-05,167.0,171.0,CONTRIE,2011,211.0,0.810427,2011-09-05,0,36,NaN
3,3,M,2011-09-05,80.0,64.0,COUDRAY M.,2011,77.0,0.831169,2011-09-05,0,36,NaN
4,4,M,2011-09-05,73.0,77.0,FONTENY,2011,92.0,0.836957,2011-09-05,0,36,NaN

In [13]:
df['ramadan'].fillna(0, inplace=True)

In [14]:
df.head()

,RowNo,Type de site,Date,Prévision,Réel,Nom du site,An,RéelMed,RéelNorm,datetime,joursem,isoweek,ramadan
0,0,M/E,2011-09-06,290.0,271.0,LEDRU ROLLIN/SARAH BERNHARDT,2011,308.0,0.879870,2011-09-06,1,36,0.0
1,1,M/E,2011-09-05,95.0,102.0,BEAUJOIRE,2011,129.0,0.790698,2011-09-05,0,36,0.0
2,2,M/E,2011-09-05,167.0,171.0,CONTRIE,2011,211.0,0.810427,2011-09-05,0,36,0.0
3,3,M,2011-09-05,80.0,64.0,COUDRAY M.,2011,77.0,0.831169,2011-09-05,0,36,0.0
4,4,M,2011-09-05,73.0,77.0,FONTENY,2011,92.0,0.836957,2011-09-05,0,36,0.0

In [15]:
df[['ramadan','RéelNorm']].groupby('ramadan').mean()

         RéelNorm
ramadan
0.0      0.994333
1.0      0.956794

In [16]:
df[['ramadan','RéelNorm']].groupby('ramadan').median()

         RéelNorm
ramadan
0.0      1.000000
1.0      0.984848

In [78]:
df_ramadan2.columns

Float64Index([0.0, 1.0], dtype='float64', name='ramadan')

In [89]:
df_ramadan1 = df[['Nom du site','ramadan','RéelNorm']].groupby(['Nom du site','ramadan']).median()
df_ramadan2= pd.pivot_table(df_ramadan1, index=['Nom du site'],columns='ramadan', values='RéelNorm', aggfunc=np.mean)
df_ramadan2.sort_values(by=1.0, ascending=True).head(30)

ramadan                    0.0       1.0
Nom du site
ALAIN FOURNIER        1.000000  0.714286
JEAN ZAY              1.002203  0.719388
CHENE D'ARON          1.006329  0.819767
MAURICE MACE          1.000000  0.858639
CHAUVINIERE           1.005714  0.874286
JOSEPHINE BAKER       1.000000  0.907692
MARSAUDERIES          1.000000  0.925501
JEAN MOULIN           1.004367  0.930131
ALAIN FOURNIER E      1.013167  0.932432
PLESSIS CELLIER       1.005848  0.935673
PAUL GAUGUIN          1.006369  0.937254
PLANTES               1.000000  0.939836
JEAN ZAY E            1.013216  0.945045
CONTRIE               0.958904  0.945055
GUSTAVE ROCH E        1.008696  0.947931
BEAUJOIRE             1.000000  0.948529
CHATAIGNIERS E        1.004367  0.949761
GEORGE SAND           1.005882  0.951724
PORT BOYER            1.000000  0.952756
MAISON NEUVE          1.000000  0.953125
MUTUALITE             1.004049  0.954360
BOTTIERE              1.005435  0.960257
GARENNES              1.003195  0.963415
ANATOLE DE MONZIE     1.000000  0.963964
LE BAUT               1.006173  0.964357
HENRI BERGSON         1.005025  0.964465
SULLY                 1.000000  0.966154
MAURICE MACE E        1.005618  0.970443
JACQUES TATI          1.006160  0.970732
DERVALLIERES CHEZINE  1.004739  0.971564